@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*Common*/
.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-16 {
  font-size: 16px;
}

.mt-24 {
  margin: 32px 0;
}

.mtb-32 {
  margin-bottom: 32px;
}

.products {
  flex-direction: column;
}

.productsHeader {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  padding: 24px;
  border-radius: 16px;
  opacity: 0.7;
  margin-bottom: 32px;
  width: 650px;
}

.productsHeader h1 {
  font-size: 48px;
}

.productsContent {
  text-align: center;
}

.productsSlogan {
  margin-bottom: 16px;
}

.productsBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
}

.btnShopLink {
  color: #fff;
  text-decoration: none;
  padding: 8px 32px;
}

.btnShopLink:hover {
  background: #fff;
  color: #242424;
}

.lineBreak {
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 50%;
  height: 4px;
  border-top: 4px solid #526967;
}

/*Start: Content Container*/
.contentContainer {
  /* padding-bottom: 800px; */
}

.contentItem {
  text-align: center;
}

.itemHeader {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  word-spacing: 2px;
}

.itemBody {
  padding: 0 102px;
  line-height: 1.6;
}

.quote {
  font-size: 22px;
}

.contentBtn {
  background-color: rgba(33, 33, 33, 1);
}

.contentBtn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

/*End: Content Container*/

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 767px) {
    .productsHeader {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 1);
        padding: 12px;
        border-radius: 16px;
        opacity: 0.7;
        margin-bottom: 32px;
        width: 350px;
    }

    .productsHeader h1 {
        font-size: 44px;
    }
    
    .productsBtn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 600px;
    }
    
    .itemBody {
        padding: 0 44px;
        
    }
}
